[Desktop Entry]
Type=Application
Name=GDrive Sync
Comment=Sync Documents to Google Drive
Exec=konsole -e /home/fabri/Git/linux/gdrive_sync.sh
Icon=emblem-insync-syncing
Terminal=false
