[Desktop Entry]
Type=Application
Name=GDrive Sync
Comment=Start synchronizing Documents <-> Google Drive
Exec=sh -c 'notify-send -a "GDrive Sync" "GDrive Sync" "Sync starting..." && systemctl --user start rclone-bisync.service'
Icon=emblem-synchronizing
Terminal=false
